<?xml version="1.0" encoding="UTF-8" ?>
    <icon src="https://cloud.githubusercontent.com/assets/8058321/3470000/cc5a4c4e-02b5-11e4-9376-1734d5110f33.png" width="60" height="60" gap:platform="android" /> />
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "disksul"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Disksul</name>

    <description>
        Verifica se é viável abastecer no Etanol ou Gasolina. 
    </description>

    <author href="https://www.disksul.com.br" email="contato@disksul.com.br">
        Disksul 
    </author>

    <gap:url-scheme name="com.acme.myscheme" role="None">
      <scheme>pgbr</scheme>
      <scheme>pgbw</scheme>
    </gap:url-scheme>
</widget>
