<?xml version="1.0" encoding="UTF-8" ?>
        <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "disksul"
        versionCode = "10" 
        version     = "1.0.0" >

        
    <!-- versionCode is optional and Android only -->

    <name>Gas/Etanol</name>

    <description>
        Verifica se é viável abastecer no Etanol ou Gasolina. 
    </description>

    <author href="https://www.disksul.com.br" email="contato@disksul.com.br">
        Disksul 
    </author>

    <gap:url-scheme name="com.acme.myscheme" role="None">
      <scheme>pgbr</scheme>
      <scheme>pgbw</scheme>
    </gap:url-scheme>
</widget>
